<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de pago</title>
</head>

<body>
    <h1>Ingrese su información de pago</h1>
    <!-- payment_form.html -->

    <form action="{% url 'pagar' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{STRIPE_PUBLIC_KEY}}"
            data-description="Payment" data-amount="1000" data - locale="auto">
            </script>
        {% if error_message %}
        <p>{{ error_message }}</p>
        {% endif %}
    </form>
</body>

</html>